{% extends 'base.html' %}

{% block content %}
<h1>Achievements:</h1>

<table>
    <tbody>
    <tr style="font-weight: bold">
        <td style="width: 200px">Name</td>
        <td style="width: 300px">Type</td>
        <td style="width: 400px">Description</td>
        <td style="width: 400px">Reward</td>
    </tr>
    {% for achievement in achievements %}
        <tr contenteditable class="achievement_row" id="{{ achievement["id"] }}">
            <td style="width: 200px">{{ achievement["name"] }}</td>
            <td style="width: 300px">{{ achievement["type"] }}</td>
            <td style="width: 400px">{{ achievement["description"] | tojson }}</td>
            <td style="width: 400px">{{ achievement["reward"] | tojson }}</td>
            <td contenteditable="false">
                <form method="get" style="margin: auto" action="/admin/remove_achievement">
                    <input name="achievement_id" type="hidden" value="{{ achievement.id }}"/>
                    <input type="submit" value="Remove"/>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Save changes:</h2>
<button onclick="content_changed()">Save changes</button>

<h2>Add achievement</h2>
<form action="/admin/add_achievement">
    <input type="text" name="achievement_name" required placeholder="Name [string]" style="width: 190px">
    <input type="text" name="achievement_type" required placeholder="Type [string]"
           style="width: 290px">
    <input type="text" name="achievement_description" placeholder="Description [JSON]" style="width: 390px">
    <input type="text" name="achievement_reward" required placeholder="Reward [JSON]" style="width: 390px">
    <input type="submit">
</form>
<hr>
Possible rewards:<br>
<pre><code class="language-json">
{
    "glory": 1,
    "fortune": 1,
    "exp": 1,
    "item": {
        "name": "aura_4",
        "count": 2, [Optional]
        "gem": "unimagined_treasury" [Optional]
    }
}
</code></pre>
<hr>
<h3>Tiered achievement declaration</h3>
Description field:<br>
<pre><code class="language-json">
{
    "t1": 777,
    "t2": 7777,
    "t3": 77777,
    "t4": 777777,
    ...
    "tN": M,
}
</code></pre><br>
Rewards field:<br>
<pre><code class="language-json">
{
    "t1": {
        "glory": 400
    },
    "t2": {
        "glory": 900,
        "fortune": 10,
    },
    "t3": {
        "glory": 2000,
        "fortune": 20,
        "item": {
            "name": "aura_4",
            "count": 2, [Optional]
            "gem": "unimagined_treasury" [Optional]
        }
    }
}
</code></pre>
{% endblock %}

{% block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/highlight.min.js"></script>

<script>
    hljs.initHighlightingOnLoad();
    function content_changed() {
        console.log("Content changed! ")
        // gather all fields and send them to server
        const rows = Array.from(document.getElementsByClassName("achievement_row"))
        console.log(rows)
        console.log(typeof rows)
        let data = {}
        rows.forEach(row => {
            const children = row.children
            data[row.id] = {
                "name": children[0].textContent,
                "type": children[1].textContent,
                "description": JSON.parse(children[2].textContent),
                "reward": JSON.parse(children[3].textContent),
            }
        })
        data = JSON.stringify(data)
        console.log(data, " | ", typeof data)
        try {
            fetch(location.href, {method: "POST", body: data, headers: {"content-type": "application/json"}})
                .then((data) => {
                    console.log(data);
                });
        } catch (error) {
            console.log("ERROR: ", error)
        }
    }
</script>
{% endblock %}
