{% extends "statistics/statistics_base.html" %}

{% block main %}
    <div>
        <h2>Battle Pass</h2>
    </div>
    <div>
        <h3>Avg level</h3>
        {{ avg_level }}
    </div>
    <div>
        <h3>Avg Glory</h3>
        {{ avg_glory }}
    </div>
    <div>
        <h3>Top 20 players by Level</h3>
    </div>
    <div>
        {% for steam_id, level in top_level%}
            <li>{{ steam_id | player_profile_linkify }} - {{ level }}</li>
        {% endfor %}
    </div>
    <div>
        <h3>Top 20 player by Glory</h3>
    </div>
    <div>
        {% for steam_id, level in top_glory%}
            <li>{{ steam_id | player_profile_linkify }} - {{ level }}</li>
        {% endfor %}
    </div>
    <hr>
    <div>
        <h3>Quests</h3>
    </div>
    <div>
        {% for name, avg, count in quests %}
            <li>{{ name }} - {{ "%.2f"|format(avg|float) }} avg progress over {{ count }} players</li>
        {% endfor %}
    </div>
    <div>
        <h3>Achievements avg progress</h3>
    </div>
    <div>
        {% for name, progress in achievements %}
            <li>{{ name }} - {{ "%.2f"|format(progress|float) }}</li>
        {% endfor %}
    </div>
    <hr>
{% endblock %}
