{% extends "statistics/statistics_base.html" %}

{% block main %}
    <div>
        <h1 class="no-underline">Leaderboards for map "{{ selected_map }}", page {{ page }}</h1>
    </div>
    <div>
        By default date equals to current date.<br>
        Page starts (and defaults to) 0 and contain 200 players each.
    </div>
    <div>
        <form style="display: inline;" action="/admin/statistics">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <input name="page" class="form-control" placeholder="Page [int]">
                    </div>
                    <div class="col-sm-3">
                        <select name="leaderboard_day" class="form-control">
                            {% for day in range(0, 31) %}
                                <option {% if from_date.day == day %} selected {% endif %}>{{ day }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="leaderboard_month" class="form-control">
                            {% for month in range(1, 13) %}
                                <option {% if from_date.month == month %} selected {% endif %}>{{ month }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="leaderboard_year" class="form-control">
                            {% for year in range(2020, 2030) %}
                                <option {% if from_date.year == year %} selected {% endif %}>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-outline-primary">
            </div>
        </form>
    </div>
    <hr>
    <div>
        <table border="1" style="border-collapse: collapse">
            <tbody>
            <tr style="font-weight: bold">
                <td class="col-md-7" align="center">Steam Id</td>
                <td class="col-md-5" align="center">MMR value</td>
            </tr>
            {% for steam_id, mmr in leaderboard %}
                <tr class="stats_row">
                    <td class="col-md-7" align="center">{{ steam_id | player_profile_linkify }}</td>
                    <td class="col-md-5" align="center">{{ mmr }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
