{% extends "statistics/statistics_base.html" %}

{% block main %}
    <div>
        <table border="1" style="border-collapse: collapse">
            <tbody>
            <tr style="font-weight: bold">
                <td class="col-md-4" align="center">Avg Round</td>
                <td class="col-md-4" align="center">Name</td>
                <td class="col-md-4" align="center">Used Count</td>
            </tr>
            {% for avg, count, name in masteries_average_round %}
                <tr class="stats_row">
                    <td class="col-md-4" align="center">{{ "%.2f"|format(avg|float) }}</td>
                    <td class="col-md-4">{{ name }}</td>
                    <td class="col-md-4" align="center">{{ count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
