{% extends "statistics/statistics_base.html" %}

{% block main %}
    <div>
        Total purchases count: {{ purchase_count }}
    </div>
    <div>
        <h3>Purchased stats for GLORY items</h3>
    </div>
    <div>
        <table border="1" style="border-collapse: collapse">
            <tbody>
            <tr style="font-weight: bold">
                <td class="col-md-6" align="center">Item Name</td>
                <td class="col-md-3" align="center">Sold Times</td>
                <td class="col-md-3" align="center">Total Glory</td>
            </tr>
            {% for item_selling in glory_item_sells_top  %}
                <tr class="stats_row">
                    <td class="col-md-6">{{ item_selling[0] | item_sell_linkify }}</td>
                    <td class="col-md-3" align="center">{{ item_selling[1] }}</td>
                    <td class="col-md-3" align="center">{{ item_selling[2] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div>
        <h3>Purchased stats for RMT items</h3>
    </div>
    <div>
        <table border="1" style="border-collapse: collapse">
        <tbody>
        <tr style="font-weight: bold">
            <td class="col-md-6" align="center">Item Name</td>
            <td class="col-md-3" align="center">Sold Times</td>
            <td class="col-md-3" align="center">Total Cost</td>
        </tr>
        {% for item_selling in real_item_sells_top  %}
            <tr class="stats_row">
                <td class="col-md-6">{{ item_selling[0] | item_sell_linkify }}</td>
                <td class="col-md-3" align="center">{{ item_selling[1] }}</td>
                <td class="col-md-3" align="center">{{ item_selling[2] / 100 }}$</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
