{% extends 'statistics/statistics_base.html' %}

{% block main %}
<div>
    <h3>Ability average round</h3>
</div>
<div>
    {% for avg, name in ability_average_round %}
        <li>{{ "%.2f"|format(avg|float) }} - {{ name }}</li>
    {% endfor %}
</div>
<hr>
<div>
    <h3>Ability usage</h3>
</div>
<div>
    {% for count, name in ability_usage %}
        <li>{{ count }} - {{ name }}</li>
    {% endfor %}
</div>
<hr>
<div>
    <h3>Item average round</h3>
</div>
<div>
    {% for avg, name in item_average_round %}
        <li>{{ "%.2f"|format(avg|float) }} - {{ name }}</li>
    {% endfor %}
</div>
<hr>
<div>
    <h3>Item usage</h3>
</div>
<div>
    {% for count, name in item_usage %}
        <li>{{ count }} - {{ name }}</li>
    {% endfor %}
</div>
<hr>
<div>
    <h3>Innate average round</h3>
</div>
<div>
    {% for avg, name in innate_average_round %}
        <li>{{ "%.2f"|format(avg|float) }} - {{ name }}</li>
    {% endfor %}
</div>
<hr>
<div>
    <h3>Innate usage</h3>
</div>
<div>
    {% for count, name in innate_usage %}
        <li>{{ count }} - {{ name }}</li>
    {% endfor %}
</div>
<hr>
<div>
    <h3>Hardest round</h3>
</div>
<div>
    {% for count, name in hardest_round %}
        <li>{{ count }} - {{ name }}</li>
    {% endfor %}
</div>
<hr>
<div>
    <h3>Quests</h3>
</div>
<div>
    {% for name, avg, count in quests %}
        <li>{{ name }} - {{ "%.2f"|format(avg|float) }} avg progress over {{ count }} players</li>
    {% endfor %}
</div>
<hr>
<div>
    <h3>Achievements avg progress</h3>
</div>
<div>
    {% for name, progress in achievements %}
        <li>{{ name }} - {{ "%.2f"|format(progress|float) }}</li>
    {% endfor %}
</div>
<hr>
<div>
    {% if map_name != "ffa" %}
    <div>
        <h3>Hardest totem</h3>
    </div>
    <div>
        {% for count, name in hardest_totem %}
            <li>{{ count }} - {{ name }}</li>
        {% endfor %}
    </div>
    <hr>
    {% endif %}
</div>
<div>
    <h2>Battle Pass</h2>
</div>
<div>
    <h3>Avg level</h3>
    {{ avg_level }}
</div>
<div>
    <h3>Avg Glory</h3>
    {{ avg_glory }}
</div>
<div>
    <h3>Top 20 players by Level</h3>
</div>
<div>
    {% for steam_id, level in top_level%}
        <li><a href="https://steamcommunity.com/profiles/{{ steam_id }}" target="_blank" rel="noreferrer noopener">{{ steam_id|string }}</a> - {{ level }}</li>
    {% endfor %}
</div>
<div>
    <h3>Top 20 player by Glory</h3>
</div>
<div>
    {% for steam_id, level in top_glory%}
        <li><a href="https://steamcommunity.com/profiles/{{ steam_id }}" target="_blank" rel="noreferrer noopener">{{ steam_id|string }}</a> - {{ level }}</li>
    {% endfor %}
</div>
<hr>
{% endblock %}
