/*=========== global ============*/
html {
    background: #232323;
    color: #e6e1dc;
    text-shadow: 1px 1px 2px black;
}

.navbar-inverse {
    background-color: #3c0b0bcc;
}

footer {
    background-color: #3c0b0bcc;
    width: 100%;
    padding: 15px;
}

h1, h2, h3, h4 {
    text-shadow: 2px 2px 4px black;
    text-decoration: underline;
    color: #e6e1dc;
}

h3 {
    color: #ffc66d;
}

.no-underline {
  text-decoration: none;
}

.error-header {
    text-shadow: 2px 2px 4px black;
    color: #e6e1dc;
}

table {
    border-color: white;
    border-collapse: collapse;
    width: 100%;
    color: white;
}

table tr {
    padding: 10px;
}

a {
    color: #ffc66d;
}

b {
    color: #ffc66d;
    font-weight: bold;
}

.b {
    text-shadow: 2px 2px 4px black;
}

.match-history td {
    padding: 10px 5px;
}

.table-header {
    font-weight: bold;
    color: #ffc66d;
}

/*=========== payments ============*/
body {
    background-image: url("../images/payments/bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.container-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 40px;
}

div.container-wrapper > .row.content {
    display: flex;
    flex: 1;
}

div.container-wrapper > .row.content {
    display: flex;
    flex: 1;
}

.result {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}

.successful-payment {
    height: 100%;
    background-image: url("../images/payments/1-2.png");
    background-repeat: no-repeat;
}

.failed-payment {
    background-image: url("../images/payments/2-2.png");
    background-repeat: no-repeat;
}

/*=========== railscasts ============*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #232323;
    color: #e6e1dc;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #bc9458;
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag {
    color: #c26230;
  }
  
  .hljs-string,
  .hljs-number,
  .hljs-regexp,
  .hljs-variable,
  .hljs-template-variable {
    color: #a5c261;
  }
  
  .hljs-subst {
    color: #519f50;
  }
  
  .hljs-tag,
  .hljs-name {
    color: #e8bf6a;
  }
  
  .hljs-type {
    color: #da4939;
  }
  
  
  .hljs-symbol,
  .hljs-bullet,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-attr,
  .hljs-link {
    color: #6d9cbe;
  }
  
  .hljs-params {
    color: #d0d0ff;
  }
  
  .hljs-attribute {
    color: #cda869;
  }
  
  .hljs-meta {
    color: #9b859d;
  }
  
  .hljs-title,
  .hljs-section {
    color: #ffc66d;
  }
  
  .hljs-addition {
    background-color: #144212;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
  }
  
  .hljs-deletion {
    background-color: #600;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
  }
  
  .hljs-selector-class {
    color: #9b703f;
  }
  
  .hljs-selector-id {
    color: #8b98ab;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-link {
    text-decoration: underline;
  }

/*=========== railscasts ============*/
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #002b36;
    color: #839496;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #586e75;
  }
  
  /* Solarized Green */
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-addition {
    color: #859900;
  }
  
  /* Solarized Cyan */
  .hljs-number,
  .hljs-string,
  .hljs-meta .hljs-meta-string,
  .hljs-literal,
  .hljs-doctag,
  .hljs-regexp {
    color: #2aa198;
  }
  
  /* Solarized Blue */
  .hljs-title,
  .hljs-section,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #268bd2;
  }
  
  /* Solarized Yellow */
  .hljs-attribute,
  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-class .hljs-title,
  .hljs-type {
    color: #b58900;
  }
  
  /* Solarized Orange */
  .hljs-symbol,
  .hljs-bullet,
  .hljs-subst,
  .hljs-meta,
  .hljs-meta .hljs-keyword,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-link {
    color: #cb4b16;
  }
  
  /* Solarized Red */
  .hljs-built_in,
  .hljs-deletion {
    color: #dc322f;
  }
  
  .hljs-formula {
    background: #073642;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }

/* Statistics */
.since-des, .stats-label {
    color: white;
    font-size: 17px;
}

.form-control-inline {
    display: inline-block;
    width: auto;
}

form {
  color: #333;
}

table td form {
  display: flex;
}

table td form button {
  margin-right: 10px;
}

table td form .btn {
  margin-bottom: 5px;
  margin-top: 5px;
}