{% extends 'base.html' %}

{% block script %}
<script>
    function updateSupporter(steam_id, level, comment) {
        if (typeof steam_id !== "string") throw new TypeError("'steam_id' should be a string");
        if (typeof level !== "number") throw new TypeError("'level' should be a number");

        let body = `steam_id=${encodeURIComponent(steam_id)}&level=${encodeURIComponent(level)}`;
        if (comment !== undefined) {
            if (typeof comment !== "string") throw new TypeError("'comment' should be a string");
            body += `&comment=${encodeURIComponent(comment)}`;
        }

        fetch(location.href, { method: "POST", body, headers: { "content-type": "application/x-www-form-urlencoded" } })
            .then((data)=>{
                location.reload();
            });
    }
</script>
{% endblock %}

{% block content %}
<h1>Supporters list:</h1>
<h2>Add/Update supporter</h2>
<form method="post" target="dummyframe" onsubmit="setTimeout(()=>location.reload(), 300);return true">
    <input type="text" name="steam_id" required placeholder="Steam ID [string]" style="width: 190px">
    <input type="text" name="level" required placeholder="New Level [string]" style="width: 290px">
    <input type="text" name="comment" placeholder="Comment [string]" style="width: 390px">
    <input type="submit">
</form>
<h2>Manually managed supporters:</h2>
<h2>SUPPORTER INSTANT REWARDS ARE ADDED ON EACH updateSupporter INVOCATION FOR A PLAYER</h2>
<table>
    <tbody>
    <tr style="font-weight: bold">
        <td style="width: 150px">Steam Id</td>
        <td style="width: 50px">Level</td>
        <td style="width: 600px">Comment</td>
    </tr>
    {% for supporter in manual %}
        <tr class="supporter_row" id="{{ supporter["id"] }}">
            <td style="width: 150px">{{ supporter["steam_id"]|player_profile_linkify }}</td>
            <td style="width: 50px">{{ supporter["supporter_state"] }}</td>
            <td style="width: 600px">{{ supporter["supporter_comment"] | urlize }}</td>
            <td>
                <form method="get" style="margin: auto" action="/admin/remove_supporter">
                    <input name="supporter_id" type="hidden" value="{{ supporter.id }}"/>
                    <input type="submit" value="Remove"/>
                </form>
            </td>
            <td style="padding: 0 0 0 40px">
                <form method="get" style="margin: auto" action="/admin/add_supporter_reward">
                    <input name="supporter_id" type="hidden" value="{{ supporter.id }}"/>
                    <input type="submit" value="Monthly Reward"/>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Automatically managed supporters:</h2>
<table>
    <tbody>
    <tr style="font-weight: bold">
        <td style="width: 150px">Steam Id</td>
        <td style="width: 50px">Level</td>
        <td style="width: 200px">Ends at</td>
    </tr>
    {% for supporter in automatic %}
        <tr class="supporter_row" id="{{ supporter["id"] }}">
            <td style="width: 150px">{{ supporter["steam_id"] | player_profile_linkify }}</td>
            <td style="width: 50px">{{ supporter["supporter_state"] }}</td>
            <td style="width: 200px">{{ supporter["supporter_enddate"] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
{% endblock %}
