{% extends 'base.html' %}

{% block script %}
<script>
    function updateSupporter(steam_id, level, comment) {
        if (typeof steam_id !== "string") throw new TypeError("'steam_id' should be a string");
        if (typeof level !== "number") throw new TypeError("'level' should be a number");

        let body = `steam_id=${encodeURIComponent(steam_id)}&level=${encodeURIComponent(level)}`;
        if (comment !== undefined) {
            if (typeof comment !== "string") throw new TypeError("'comment' should be a string");
            body += `&comment=${encodeURIComponent(comment)}`;
        }

        fetch(location.href, { method: "POST", body, headers: { "content-type": "application/x-www-form-urlencoded" } })
            .then((data)=>{
                location.reload();
            });
    }
</script>
{% endblock %}

{% block content %}
<div>
    <h1>Supporters list:</h1>
</div>
<div>
    <h3>Manually managed supporters:</h3>
</div>
<div>
    SUPPORTER INSTANT REWARDS ARE ADDED ON EACH updateSupporter INVOCATION FOR A PLAYER
</div>
<div>
    <table>
        <tbody>
        <tr style="font-weight: bold">
            <td class="col-md-4">Steam Id</td>
            <td class="col-md-2">Level</td>
            <td class="col-md-6">Comment</td>
        </tr>
        {% for supporter in manual %}
            <tr class="supporter_row" id="{{ supporter['id'] }}">
                <td class="col-md-4">{{ supporter["steam_id"]|player_profile_linkify }}</td>
                <td class="col-md-2">{{ supporter["supporter_state"] }}</td>
                <td class="col-md-6">{{ supporter["supporter_comment"] | urlize }}</td>
                <td>
                    <form method="get" style="margin: auto" action="/admin/add_supporter_reward">
                        <input name="supporter_id" type="hidden" value="{{ supporter.id }}"/>
                        <input class="btn btn-outline-primary" type="submit" value="Monthly Reward"/>
                    </form>
                </td>
                <td style="padding: 0 0 0 5px">
                    <form method="get" style="margin: auto" action="/admin/remove_supporter">
                        <input name="supporter_id" type="hidden" value="{{ supporter.id }}"/>
                        <input class="btn btn-outline-primary" type="submit" value="Remove"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h3>Automatically managed supporters:</h3>
</div>
<div>
    <table>
        <tbody>
        <tr style="font-weight: bold">
            <td class="col-md-4">Steam Id</td>
            <td class="col-md-2">Level</td>
            <td class="col-md-6">Ends at</td>
            
        </tr>
        {% for supporter in automatic %}
            <tr class="supporter_row" id="{{ supporter['id'] }}">
                <td class="col-md-4">{{ supporter["steam_id"] | player_profile_linkify }}</td>
                <td class="col-md-2">{{ supporter["supporter_state"] }}</td>
                <td class="col-md-6">{{ supporter["supporter_enddate"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h1>Add/Update supporter</h1>
</div>
<div>
    <form method="post" target="dummyframe" onsubmit="setTimeout(()=>location.reload(), 300);return true">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="steam_id" required placeholder="Steam ID [string]">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="level" required placeholder="New Level [string]">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="comment" placeholder="Comment [string]">
                </div>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-outline-primary">
        </div>
    </form>
</div>
<div>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
</div>
{% endblock %}
